In [1]:
install.packages('pastecs')
install.packages('psych')
install.packages('Hmisc')
library('lattice')
library('survival')
library('Formula')
library('ggplot2')
library('Hmisc')
library('psych')
library('pastecs')

Installing package into 'C:/Users/naela/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'pastecs' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\naela\AppData\Local\Temp\Rtmps5UQhd\downloaded_packages

Installing package into 'C:/Users/naela/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'psych' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\naela\AppData\Local\Temp\Rtmps5UQhd\downloaded_packages

Installing package into 'C:/Users/naela/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'Hmisc' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\naela\AppData\Local\Temp\Rtmps5UQhd\downloaded_packages

Attaching package: 'Hmisc'


The following objects are masked from 'package:base':

    format.pval, units

In [2]:
str(trees)
attach(trees)
summary(trees)

'data.frame':	31 obs. of  3 variables:
 $ Girth : num  8.3 8.6 8.8 10.5 10.7 10.8 11 11 11.1 11.2 ...
 $ Height: num  70 65 63 72 81 83 66 75 80 75 ...
 $ Volume: num  10.3 10.3 10.2 16.4 18.8 19.7 15.6 18.2 22.6 19.9 ...

     Girth           Height       Volume
 Min.   : 8.30   Min.   :63   Min.   :10.20
 1st Qu.:11.05   1st Qu.:72   1st Qu.:19.40
 Median :12.90   Median :76   Median :24.20
 Mean   :13.25   Mean   :76   Mean   :30.17
 3rd Qu.:15.25   3rd Qu.:80   3rd Qu.:37.30
 Max.   :20.60   Max.   :87   Max.   :77.00

In [3]:
describe(trees)

trees

 3  Variables      31  Observations
--------------------------------------------------------------------------------
Girth
       n  missing distinct     Info     Mean      Gmd      .05      .10
      31        0       27    0.999    13.25    3.561     8.70    10.50
     .25      .50      .75      .90      .95
   11.05    12.90    15.25    17.90    18.00

lowest :  8.3  8.6  8.8 10.5 10.7, highest: 17.3 17.5 17.9 18.0 20.6
--------------------------------------------------------------------------------
Height
       n  missing distinct     Info     Mean      Gmd      .05      .10
      31        0       21    0.994       76    7.312     64.5     66.0
     .25      .50      .75      .90      .95
    72.0     76.0     80.0     83.0     85.5

lowest : 63 64 65 66 69, highest: 82 83 85 86 87
--------------------------------------------------------------------------------
Volume
       n  missing distinct     Info     Mean      Gmd      .05      .10
      31        0       30        1    30.17    17.89     10.3     15.6
     .25      .50      .75      .90      .95
    19.4     24.2     37.3     55.4     57.0

lowest : 10.2 10.3 15.6 16.4 18.2, highest: 51.5 55.4 55.7 58.3 77.0
--------------------------------------------------------------------------------

In [4]:
stat.desc(trees)

             Girth       Height       Volume
nbr.val       31.0000000 3.100000e+01  31.0000000
nbr.null       0.0000000 0.000000e+00   0.0000000
nbr.na         0.0000000 0.000000e+00   0.0000000
min            8.3000000 6.300000e+01  10.2000000
max           20.6000000 8.700000e+01  77.0000000
range         12.3000000 2.400000e+01  66.8000000
sum          410.7000000 2.356000e+03 935.3000000
median        12.9000000 7.600000e+01  24.2000000
mean          13.2483871 7.600000e+01  30.1709677
SE.mean        0.5636263 1.144411e+00   2.9523244
CI.mean.0.95   1.1510785 2.337200e+00   6.0294508
var            9.8479140 4.060000e+01 270.2027957
std.dev        3.1381386 6.371813e+00  16.4378464
coef.var       0.2368695 8.383964e-02   0.5448233

In [5]:
describe(trees)

Attaching package: 'psych'


The following object is masked from 'package:Hmisc':

    describe


The following objects are masked from 'package:ggplot2':

    %+%, alpha

       vars n  mean     sd        median trimmed mad      min  max  range
Girth  1    31 13.24839  3.138139 12.9   13.136   2.81694  8.3 20.6 12.3
Height 2    31 76.00000  6.371813 76.0   76.240   5.93040 63.0 87.0 24.0
Volume 3    31 30.17097 16.437846 24.2   28.540  11.56428 10.2 77.0 66.8
       skew       kurtosis   se
Girth   0.5010559 -0.7109412 0.5636263
Height -0.3568773 -0.7233677 1.1444114
Volume  1.0132739  0.2460393 2.9523244

In [6]:
str(sleep)

'data.frame':	20 obs. of  3 variables:
 $ extra: num  0.7 -1.6 -0.2 -1.2 -0.1 3.4 3.7 0.8 0 2 ...
 $ group: Factor w/ 2 levels "1","2": 1 1 1 1 1 1 1 1 1 1 ...
 $ ID   : Factor w/ 10 levels "1","2","3","4",..: 1 2 3 4 5 6 7 8 9 10 ...

In [7]:
describe(sleep)

       vars n  mean sd        median trimmed mad     min  max  range skew
extra  1    20 1.54 2.0179197 0.95   1.46875 1.55673 -1.6  5.5 7.1   0.3863381
group* 2    20 1.50 0.5129892 1.50   1.50000 0.74130  1.0  2.0 1.0   0.0000000
ID*    3    20 5.50 2.9468985 5.50   5.50000 3.70650  1.0 10.0 9.0   0.0000000
       kurtosis  se
extra  -1.086590 0.4512206
group* -2.097500 0.1147079
ID*    -1.397379 0.6589465

In [8]:
attach(sleep)
describeBy(sleep,group)

 Descriptive statistics by group
group: 1
       vars  n mean   sd median trimmed  mad  min  max range skew kurtosis   se
extra     1 10 0.75 1.79   0.35    0.68 1.56 -1.6  3.7   5.3 0.42    -1.30 0.57
group*    2 10 1.00 0.00   1.00    1.00 0.00  1.0  1.0   0.0  NaN      NaN 0.00
ID*       3 10 5.50 3.03   5.50    5.50 3.71  1.0 10.0   9.0 0.00    -1.56 0.96
------------------------------------------------------------
group: 2
       vars  n mean   sd median trimmed  mad  min  max range skew kurtosis   se
extra     1 10 2.33 2.00   1.75    2.24 2.45 -0.1  5.5   5.6 0.28    -1.66 0.63
group*    2 10 2.00 0.00   2.00    2.00 0.00  2.0  2.0   0.0  NaN      NaN 0.00
ID*       3 10 5.50 3.03   5.50    5.50 3.71  1.0 10.0   9.0 0.00    -1.56 0.96

In [9]:
mu=150
xbar=100
s1=10
n=50
zstar=(xbar-mu)/(s1/sqrt(n))
zstar

[1] -35.35534

In [10]:
qnorm(0.975)

[1] 1.959964

In [11]:
qnorm(0.95)

[1] 1.644854

In [12]:
qnorm(0.9)

[1] 1.281552

In [13]:
data1=sample(80:160,50,replace=T)
data1

 [1] 120 126 129 110 111 109  83 135  81  82 141  84 151 122 113 138 141 108  81
[20] 128 137  96  99 148 137  97 103  96 114 152 131 117 101 110 117 150  93 135
[39] 112 101  81  87 121  87 111  82 106 135 116 125

In [14]:
xbar1=mean(data1)
xbar1

[1] 113.8

In [15]:
sd1=sd(data1)
sd1

[1] 21.04417

In [16]:
zstar1=(xbar1-mu)/(sd1/sqrt(n))
zstar1

[1] -12.16359

In [17]:
t.test(data1,alternative="two.sided",mu=150,conf.level=0.99)

	One Sample t-test

data:  data1
t = -12.164, df = 49, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 150
99 percent confidence interval:
 105.8242 121.7758
sample estimates:
mean of x
    113.8

In [18]:
pval=pt(-6.702749,df=n-1)
pval

[1] 9.57943e-09

In [19]:
pval=pt(-6.7027,df=n-1)
pval

[1] 9.581105e-09

In [20]:
women_weight <- c(38.9, 61.2, 73.3, 21.8, 63.4, 64.6, 48.4, 48.8, 48.5)
men_weight <- c(67.8, 60, 63.4, 76, 89.4, 73.3, 67.3, 61.3, 62.4) 
# Create a data frame
my_data <- data.frame(group = rep(c("Woman", "Man"), each = 9),
                      weight = c(women_weight,  men_weight)
                     )
my_data

   group weight
1  Woman 38.9
2  Woman 61.2
3  Woman 73.3
4  Woman 21.8
5  Woman 63.4
6  Woman 64.6
7  Woman 48.4
8  Woman 48.8
9  Woman 48.5
10 Man   67.8
11 Man   60.0
12 Man   63.4
13 Man   76.0
14 Man   89.4
15 Man   73.3
16 Man   67.3
17 Man   61.3
18 Man   62.4

In [21]:
detach(sleep)
attach(my_data)
res.ftest <- var.test(weight ~ group, data = my_data)
res.ftest

	F test to compare two variances

data:  weight by group
F = 0.36134, num df = 8, denom df = 8, p-value = 0.1714
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.08150656 1.60191315
sample estimates:
ratio of variances
         0.3613398

In [22]:
var.test(women_weight,men_weight)

	F test to compare two variances

data:  women_weight and men_weight
F = 2.7675, num df = 8, denom df = 8, p-value = 0.1714
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
  0.6242536 12.2689506
sample estimates:
ratio of variances
          2.767478

In [23]:
var.test(men_weight,women_weight)

	F test to compare two variances

data:  men_weight and women_weight
F = 0.36134, num df = 8, denom df = 8, p-value = 0.1714
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.08150656 1.60191315
sample estimates:
ratio of variances
         0.3613398

In [24]:
res.ftest <- var.test(weight ~ group, data = my_data)
res.ftest

	F test to compare two variances

data:  weight by group
F = 0.36134, num df = 8, denom df = 8, p-value = 0.1714
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.08150656 1.60191315
sample estimates:
ratio of variances
         0.3613398

In [25]:
t.test(men_weight,women_weight,alternative="greater",mu=0,var.equal=TRUE)

	Two Sample t-test

data:  men_weight and women_weight
t = 2.7842, df = 16, p-value = 0.006633
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 6.298536      Inf
sample estimates:
mean of x mean of y
 68.98889  52.10000

In [26]:
 t.test(men_weight,women_weight,mu=0,var.equal=TRUE)

	Two Sample t-test

data:  men_weight and women_weight
t = 2.7842, df = 16, p-value = 0.01327
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  4.029759 29.748019
sample estimates:
mean of x mean of y
 68.98889  52.10000

In [36]:
# Weight of the mice before treatment
before <-c(200.1, 190.9, 192.7, 213, 241.4, 196.9, 172.2, 185.5, 205.2, 193.7)
# Weight of the mice after treatment
after <-c(392.9, 393.2, 345.1, 393, 434, 427.9, 422, 383.9, 392.3, 352.2)
# Create a data frame
my_data <- data.frame(
    group = rep(c("before", "after"), each = 10),
    weight = c(before,  after)
)
t.test(before,after,paired=TRUE)

	Paired t-test

data:  before and after
t = -20.883, df = 9, p-value = 6.2e-09
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -215.5581 -173.4219
sample estimates:
mean of the differences
                -194.49

In [28]:
res <- t.test(weight ~ group, data = my_data, paired = TRUE)
res

	Paired t-test

data:  weight by group
t = 20.883, df = 9, p-value = 6.2e-09
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 173.4219 215.5581
sample estimates:
mean of the differences
                 194.49

In [29]:
str(PlantGrowth)

'data.frame':	30 obs. of  2 variables:
 $ weight: num  4.17 5.58 5.18 6.11 4.5 4.61 5.17 4.53 5.33 5.14 ...
 $ group : Factor w/ 3 levels "ctrl","trt1",..: 1 1 1 1 1 1 1 1 1 1 ...

In [37]:
detach(my_data)
attach(PlantGrowth)
names(PlantGrowth)
res.aov=aov(weight~group,data=PlantGrowth)
res.aov

The following objects are masked from PlantGrowth (pos = 4):

    group, weight

[1] "weight" "group"

Call:
   aov(formula = weight ~ group, data = PlantGrowth)

Terms:
                   group Residuals
Sum of Squares   3.76634  10.49209
Deg. of Freedom        2        27

Residual standard error: 0.6233746
Estimated effects may be unbalanced

In [31]:
summary(res.aov)

            Df Sum Sq Mean Sq F value Pr(>F)
group        2  3.766  1.8832   4.846 0.0159 *
Residuals   27 10.492  0.3886
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [32]:
TukeyHSD(res.aov)

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = weight ~ group, data = PlantGrowth)

$group
            diff        lwr       upr     p adj
trt1-ctrl -0.371 -1.0622161 0.3202161 0.3908711
trt2-ctrl  0.494 -0.1972161 1.1852161 0.1979960
trt2-trt1  0.865  0.1737839 1.5562161 0.0120064

In [33]:
bartlett.test(weight~group,data=PlantGrowth)

	Bartlett test of homogeneity of variances

data:  weight by group
Bartlett's K-squared = 2.8786, df = 2, p-value = 0.2371

In [34]:
tma=read.csv('breast cancer dataset1.csv')
str(tma)

'data.frame':	42 obs. of  10 variables:
 $ t             : Factor w/ 42 levels "02fdeff7e48627a6c276d7b38fac5143",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ er            : int  2 2 2 2 2 2 1 2 2 2 ...
 $ pgr           : int  2 2 2 2 2 2 2 2 1 2 ...
 $ size          : int  30 16 8 25 18 16 23 8 20 20 ...
 $ er_annotation : Factor w/ 3 levels "Borderline","Negative",..: 2 2 2 2 2 2 3 2 2 2 ...
 $ pgr_annotation: Factor w/ 3 levels "Borderline","Negative",..: 2 2 2 2 2 2 2 2 3 2 ...
 $ proteinA      : int  15 8 0 13 28 31 1 58 38 18 ...
 $ proteinB      : int  30 47 0 31 38 94 7 91 36 96 ...
 $ her2          : int  0 0 0 3 0 0 3 0 0 3 ...
 $ label         : Factor w/ 2 levels "over70","under45": 1 1 2 2 1 2 2 2 1 2 ...

In [38]:
attach(tma)
over70=subset(tma,label=="over70",size,drop=T)
over70

The following objects are masked from tma (pos = 4):

    er, er_annotation, her2, label, pgr, pgr_annotation, proteinA,
    proteinB, size, t

 [1] 30 16 18 20 35 11 30 25 40 10 15 38 22 19 34 16 22 25 20 21 22

In [39]:
under45=subset(tma,label=="under45",size,drop=T)
under45

 [1]  8 25 16 23  8 20 20 24 15 18 23 18 15 12 16 25  2 30 17 25 17

In [40]:
var.test(over70,under45)

	F test to compare two variances

data:  over70 and under45
F = 1.5739, num df = 20, denom df = 20, p-value = 0.3186
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.6386241 3.8788005
sample estimates:
ratio of variances
          1.573879

In [41]:
t.test(over70,under45,var.equal=TRUE)

	Two Sample t-test

data:  over70 and under45
t = 2.2647, df = 40, p-value = 0.02902
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  0.5737952 10.0928715
sample estimates:
mean of x mean of y
 23.28571  17.95238

In [42]:
cor.test(under45,over70)

	Pearson's product-moment correlation

data:  under45 and over70
t = -1.398, df = 19, p-value = 0.1782
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.6512265  0.1454710
sample estimates:
       cor
-0.3053939

In [43]:
apropos("test")

 [1] ".valueClassTest"      "ansari.test"          "bartlett.test"
 [4] "binom.test"           "Box.test"             "catTestchisq"
 [7] "chisq.test"           "circ.tests"           "conTestkw"
[10] "cor.test"             "corr.test"            "cortest"
[13] "cortest.bartlett"     "cortest.jennrich"     "cortest.mat"
[16] "cortest.normal"       "coxph.wtest"          "file_test"
[19] "fisher.test"          "fligner.test"         "formatTestStats"
[22] "friedman.test"        "getLatestSource"      "kruskal.test"
[25] "ks.test"              "mantelhaen.test"      "mauchly.test"
[28] "mcnemar.test"         "mood.test"            "oneway.test"
[31] "ordTestpo"            "pairwise.prop.test"   "pairwise.t.test"
[34] "pairwise.wilcox.test" "poisson.test"         "power.anova.test"
[37] "power.prop.test"      "power.t.test"         "PP.test"
[40] "prop.test"            "prop.trend.test"      "quade.test"
[43] "r.test"               "res.ftest"            "shapiro.test"
[46] "spearman.test"        "survregDtest"         "t.test"
[49] "t.test.cluster"       "test.all"             "test.irt"
[52] "test.psych"           "testDateTime"         "testInheritedMethods"
[55] "testRetest"           "testVirtual"          "theme_test"
[58] "trend.test"           "var.test"             "wilcox.test"

In [44]:
TeaTasting <- matrix(c(3, 1, 1, 3),
                     nrow = 2,
                     dimnames = list(Guess = c("Milk", "Tea"),
                                     Truth = c("Milk", "Tea")))
fisher.test(TeaTasting, alternative = "greater")

	Fisher's Exact Test for Count Data

data:  TeaTasting
p-value = 0.2429
alternative hypothesis: true odds ratio is greater than 1
95 percent confidence interval:
 0.3135693       Inf
sample estimates:
odds ratio
  6.408309

In [45]:
TeaTasting

      Truth
Guess  Milk Tea
  Milk 3    1
  Tea  1    3

In [46]:
fisher.test(TeaTasting, alternative = "greater")

	Fisher's Exact Test for Count Data

data:  TeaTasting
p-value = 0.2429
alternative hypothesis: true odds ratio is greater than 1
95 percent confidence interval:
 0.3135693       Inf
sample estimates:
odds ratio
  6.408309